*{box-sizing: border-box;}

#openButton {
    background-color: blue;
}

#dialogBox {
    background-color: blanchedalmond;
}

#closeButton {
    background-color: brown;
}

::backdrop {
    background-color: rgb(77, 233, 59, 0.5);
}