*{box-sizing: border-box;}

















#myDialog div {
    display: grid;
    grid-template-columns: auto 44px;
    background-color: #ddd;
    padding: 5px;
    border-bottom: #aaa 1px solid;
}

#myDialog h2 {
    margin: 0;
    color: #275690;
}

#myDialog button {
    margin: 0;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 10px #aaa;
}

#myDialog p {
    padding: 10px;
    color: #375170;
}

::backdrop {
    background-color: rgba(255, 255, 255, 0.75);
}