* {
    box-sizing: border-box;
    background-color: #cdd7d6;
    font-family: "Crimson Text", sans-serif;
}

.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 3px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: black;
}

.hamburger {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .85rem 10px;
    color: black;
    text-decoration: none;
    border-bottom: solid 3px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: red;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.grid section {
    background: rgb(219, 191, 191);
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #ccc;
    text-align: center;
}

.grid img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.list {

    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.list section {
    align-items: center;
    gap: 1rem;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.list img {
    border-radius: 6px;
    display: none;
}

.list h2 {
    margin: 0;
}

.list p,
.list a {
    margin: 0.25rem 0;
}

.menu {
    padding: 10px;
    text-align: center;
}

.menu button {
    cursor: pointer;
}

footer {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    border-top: solid 3px #ddd;
}

.socialmedia a {
    text-decoration: none;
}