@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 1000px;
        margin: 0 auto;
    }


    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;

    }

    .navigation li {
        color: #25270a;
        text-decoration: none;

    }

    .navigation a {
        border: none;
    }

    .info {
        display: flex;
    }

    @media (min-width: 600px) {
        .highlights{
            grid-template-columns: repeat(2, 1fr);
        }
       
    }
    
    @media (min-width: 1000px) {
        .highlights {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: 700px) {
        .recentGames {
            grid-template-columns: repeat(2, 1fr);
        }
    }

}