* {
    box-sizing: border-box;
    background-color: #cdd7d6; 
    font-family: "Rubik", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 3px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: black;
}

.hamburger {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .85rem 10px;
    color: black;
    text-decoration: none;
    border-bottom: solid 3px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: red;
}

h1 {
    margin-left: 10px;
    
}

section, h2 {
    padding: 5px 10px 5px 10px;
    text-align: center;
    
}
h2 {
    background-color: #f87060;
}

.course {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    column-gap: 8px;
    list-style-type: none;
}

.course a {
    text-decoration: none;
    color: black;

    
}
.course li {
    background-color: #f87060;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 15px;
    
}

.container section p{
    background-color: #f87060;
    padding: 5px;
    font-weight: 700;
}

#total-credits {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.95rem;
    font-weight: 500;
    color: #333;
}

footer {
    padding: 1rem;
    text-align: center;
    color: #102542;
    margin-top: 2rem;
    
}

.socialmedia {
    margin-bottom: 0.75rem;

}

.socialmedia a {
    margin: 0 0.25rem;
    text-decoration: none;
}

.copywrite,
.modified {
    display: block;
    font-size: 0.85rem;
}